.campaigns_section {
    width: 100%;
    @include flex(center, center);
    padding: 1em 0;
    color: var(--secondry-color);

    .campaign_component {
        padding: 1em;
        width: 90%;
        height: 20em;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        @include flex(space-between, center);
        flex-direction: column;

        .campaign_heading {
            @include flex(center, center);

            .campaign_logo {
                border-radius: 20%/80%;
                padding: 16px 10px;
                background-color: rgb(77, 184, 255);
                ;

                .campaign_icon {
                    font-size: 3rem;
                    color: #fff;
                }
            }

            h1 {
                text-transform: capitalize;
                font-size: 1.9rem;
                margin-left: 1em;
            }
        }

        .add_campaign {
            width: 100%;
            height: 12em;
            @include flex(center, stretch);

            .add_campaign_btn {
                @include flex(space-around, center);
                flex-direction: column;
                color: rgb(177, 177, 177);

                .add_btn_icon {
                    font-size: 5rem;
                }
                h1{
                    font-size: 1.6rem;
                }

                h1, button{
                    text-transform: capitalize;
                }

                button{
                    border: none;
                    outline: none;
                    background-color: rgb(77, 184, 255);
                    color: #fff;
                    font-weight: bold;
                    padding: 10px 1.5em;
                    margin-top: 1em;
                    border-radius: 5px;
                    cursor: pointer;
                    box-shadow: rgba(0, 0, 0, 0.22) 0px 1px 4px;

                    &:active{
                        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                    }
                }
            }
        }

    }

}

@media only screen and (max-width: 600px) {
    .campaigns_section {

        .campaign_component{

            .campaign_heading{
                h1{
                    font-size: 1.6rem;
                }
            }

            .add_campaign{
                .add_campaign_btn{
                    .add_btn_icon{
                        font-size: 3.5rem;
                    }

                    button{
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}