.navbar {
    @include flex(space-around, center);
    padding: 8px 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    background-color: #fff;
    flex-direction: column;

    .main_nav {
        width: 100%;
        @include flex(space-around, center);
        flex-wrap: wrap;

        .logo {
            @include flex(space-between, center);

            img {
                object-fit: contain;
                height: 40px;
            }

            h2 {
                text-transform: uppercase;
                color: rgb(16, 192, 16);
            }

            span {
                color: var(--secondry-color);
            }
        }

        .navbar_options {
            ul {
                @include flex(space-between, center);

                li {
                    margin: 6px 10px;
                    text-align: center;

                    .nav_link {
                        color: grey;
                        text-decoration: none;

                        .nav_icon {
                            font-size: 1.3rem;
                            transition: all 0.2s ease-in-out;
                        }

                        &:hover {
                            color: black;
                        }
                    }
                }
            }


        }

        .toggle_menu_btn {
            @include flex(center, center);
            color: #fff;
            background-color: var(--primary-color);
            padding: 4px 1em;
            font-size: 1.2rem;
            border-radius: 4px;
            border: 1px solid transparent;
            transition: all 0.2s ease-in-out;
            display: none;

            &:hover {
                color: var(--primary-color);
                border-color: var(--primary-color);
                background-color: #fff;
            }
        }
    }

    .sub_nav_container {
        width: 100%;
        @include flex(center, center);
        margin-top: 1em;

        .sub_nav {
            width: 85%;
            @include flex(center, center);
            flex-direction: column;

            .sub_menu_btn {
                padding: 4px 0;
                border-radius: 4px;
                color: #fff;
                width: 90%;
                font-weight: bold;
                border: 1px solid transparent;
                background-color: var(--primary-color);
                transition: all 0.2s ease-in-out;
                display: none;
                font-size: 1.1rem;

                &:hover {
                    color: var(--primary-color);
                    border-color: var(--primary-color);
                    background-color: #fff;
                }
            }

            .nav_list {
                width: 100%;
                @include flex(space-between, center);
                background-color: rgb(223, 255, 223);
                border-radius: 8px;
                padding: 4px 1em;
                color: grey;

                .nav_label {
                    font-size: .8rem;
                }

                .nav_option {

                    &:hover .dropdown_list {
                        display: block;
                        animation: growDown .5s ease-in-out;
                        transform-origin: top center;

                        @keyframes growDown {
                            0% {
                                opacity: 0;
                            }

                            40% {
                                opacity: 0.4
                            }

                            80% {
                                opacity: 0.8;
                            }

                            100% {
                                opacity: 1;
                            }
                        }

                    }

                }

                .dropdown_list {
                    position: absolute;
                    margin-top: 1px;
                    display: none;
                }

                .dropdown {
                    background-color: #fff;
                    border-radius: 6px;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                    padding: 4px 8px;

                }

                .sub_nav_link {
                    padding: 4px 8px;
                    width: 100%;
                    @include flex(flex-start, center);
                    margin: 5px 0;
                    font-size: 12px;
                    text-decoration: none;
                    color: grey;
                    transition: all 0.2s ease-in-out;
                    border-radius: 4px;

                    &:hover {
                        background-color: rgb(223, 255, 223);
                    }

                    .sub_nav_icon {
                        font-size: 18px;
                        margin-right: 5px;
                    }

                    .active_sub_nav_link {
                        color: black !important;
                    }
                }
            }
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar {
        .main_nav {
            flex-direction: column;

            .logo {
                h2 {
                    font-size: 1.2rem;
                }
            }

            .navbar_options {
                display: none;
                width: 100%;

                ul {
                    flex-direction: column;

                    li {
                        width: 100%;
                        @include flex(center, center);

                        .nav_link {
                            width: 100%;
                            padding: 2px 0;
                            font-weight: bold;
                        }
                    }
                }
            }

            .show {
                display: block;
            }

            .hide {
                display: none;
            }

            .toggle_menu_btn {
                display: flex;
                margin-top: 1em;
            }
        }

        .sub_nav_container {
            .sub_nav {
                width: 100%;
                margin: 0 4px;

                .sub_menu_btn {
                    display: block;
                }
                .nav_list {
                    // display: none;
                    flex-direction: column;
                    background-color: #fff;
                    margin-top: 4px;

                    .nav_label {
                        font-size: 1.1rem;
                    }

                    .nav_option {
                        @include flex(center, center);
                        width: 90%;
                        margin: 2px 0;
                        border-radius: 4px;
                        padding: 4px 0;
                        font-weight: bold;

                        &:hover{
                            background-color: rgb(223, 255, 223);
                        }
                        
                        .label_icon {
                            display: none;
                        }
                    }
                }
                .show {
                    display: flex;
                }
    
                .hide {
                    display: none;
                }
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .navbar {
        .main_nav {
            .logo {
                h2 {
                    font-size: 1.2rem;
                }
            }

            .navbar_options>ul>li>.nav_link {
                font-size: .8rem;

                .nav_icon {
                    font-size: 1rem;
                }
            }
        }

        .sub_nav_container {
            .sub_nav {
                width: 100%;
                margin: 0 4px;

                .nav_list {
                    padding: 4px .4em;

                    .nav_option {
                        .label_icon {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}