.payment_section {
    min-height: 84vh;
    @include flex(center, center);
    padding: 3em 0;

    .patient_register_model {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.25);
        @include flex(center, center);
        flex-direction: column;
        display: none;

        .main-model {
            width: 60%;
            // height: 30em;
            background-color: #fff;
            border-radius: 10px;
            padding: 1em 3em;

            .form_header {
                width: 100%;
                @include flex(space-between, center);
                margin-top: 1em;
                margin-bottom: 2em;
                
                h1{
                    color: var(--secondry-color);
                    border-bottom: 2px solid var(--primary-color);
                    padding-right: 1em;
                    font-size: 1.8rem; 
                }

                .patient_reg_model_close_btn{
                    @include flex(center, center);
                    background: transparent;

                    &:hover{
                        color: var(--primary-color);
                    }
                }
            }

            .register_form_container {
       

                form>.form_container {
                    // border: 1px solid black;
                    @include flex(stretch, center);
                    flex-direction: column;
                    

                    .input_group {
                        width: 100%;
                        // border: 1px solid red;
                        @include flex(space-between, center);
                        margin: 1.2em 0;
                        input,
                        select{
                            background-color: rgb(250, 250, 250);
                            border-radius: 4px;
                            padding: 8px 1em;
                            width: 20em;
                            font-weight: bold;
                            // border: 1px solid var(--primary-color);
                            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                            &:focus{
                                background-color: rgba(16, 192, 16, 0.15);
                            }
                        }
                        
                        label{
                            border: 1px solid var(--primary-color);
                            padding: 6px 0;
                            border-radius: 4px;
                            width: 16.7em;
                            text-align: center;
                            background-color: rgba(16, 192, 16, 0.15);
                        }

                        .register_patient_btn{
                            padding: 6px 1.5em;
                            background-color: var(--primary-color);
                            color: #fff;
                            border-radius: 4px;
                            border: 2px solid transparent;
                            transition: all 0.2s ease-in-out;
                            font-weight: bold;
            
                            &:hover {
                                border: 2px solid var(--primary-color);
                                color: var(--primary-color);
                                background-color: #fff;
                            }
                        }
                    }

                    .last_row{
                        justify-content: flex-end;
                    }
                }
            }
        }


    }

    .payment_container {
        width: 90%;
        min-height: 15em;
        border-radius: 12px;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
        padding: 1em 2em;

        .payment_header {
            @include flex(space-between, center);
            margin: 1em 0;
            margin-bottom: 2em;

            h1 {
                color: var(--secondry-color);
                border-bottom: 2px solid var(--primary-color);
                padding-right: 1em;
                font-size: 1.8rem;
            }

            .register_btn {
                padding: 6px 1.5em;
                background-color: var(--primary-color);
                color: #fff;
                border-radius: 4px;
                border: 2px solid transparent;
                transition: all 0.2s ease-in-out;
                font-weight: bold;

                &:hover {
                    border: 2px solid var(--primary-color);
                    color: var(--primary-color);
                    background-color: #fff;
                }
            }
        }

        .patient_payment_table>table>tbody>tr>td>.patient_register_btn {
            padding: 5px 1.5em;
            color: #fff;
            background-color: var(--primary-color);
            border-radius: 4px;
            font-weight: bold;
            border: 2px solid transparent;
            transition: all 0.2s ease-in-out;

            &:hover {
                color: var(--primary-color);
                background-color: #fff;
                border-color: var(--primary-color);
            }
        }
    }
}